.card-text {
    line-height: 1.7rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden!important;
    text-overflow: ellipsis;
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.home-card-wrap:hover {
    box-shadow:  2px 2px 3px grey;
}

.filter-item {
    color: gray;
}